.wrapper {
	position: relative;
	margin-bottom: 30px;
	width: 100%;
}

.dropzone {
	border-width: 1px;
	padding-bottom: 50px;
	color: var(--mantine-color-bright);
	width: 100%;
}

.icon {
	color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-white));
}

.control {
	position: absolute;
	width: 250px;
	left: calc(50% - 125px);
	bottom: -20px;
}

.controlUploaded {
	position: absolute;
	width: 250px;
	left: calc(50% - 125px);
	bottom: -20px;
	pointer-events: none;
}

.description {
	text-align: center;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-dimmed);
	margin-top: var(--mantine-spacing-xs);
}
