@import 'tailwindcss';

:root {
	--mantine-breakpoint-xs: '36em';
	--mantine-breakpoint-sm: '48em';
	--mantine-breakpoint-md: '62em';
	--mantine-breakpoint-lg: '75em';
	--mantine-breakpoint-xl: '88em';
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: dark;
	}
}
